<h1>Our Menu</h1>


<div class="btn-group" role="group" aria-label="Basic example">
	<% @sections.each do |section| %>
	<%= link_to section.section_name, menu_path(section: section.section_name), class: 'btn btn-secondary' %>
	<% end %>
</div>

<%= render 'food_items/food_item_cards', food_items: @food_items %>
